In [189]:
import numpy as np
from math import ceil, floor
import pandas as pd

# this is a practice of https://bjlkeng.github.io/posts/lossless-compression-with-asymmetric-numeral-systems/

In [190]:
def randbit(n, p):
    return np.random.binomial(1, p, n).tolist()


def encode(msg, p):
    assert set(msg) == {0, 1}
    c = 1
    for x in msg:
        c = ceil((c + 1) / (1 - p)) - 1 if x == 0 else floor(c / p)

    return c

def decode(c, p):
    msg = []
    while c > 1:
        msg.insert(0, ceil((c + 1) * p) - ceil(c * p))
        c = c - ceil(c * p) if msg[0] == 0 else ceil(c * p)
    return msg


def generate_table(p, cols):
    cs, s0, s1 = [], [], []
    for c in range(0, cols + 1):
        cs.append(c)
        if ceil((c + 1) * p) - ceil(c * p) == 0:
            s0.append(c - ceil(c * p))
            s1.append('_')

        else:
            s0.append('_')
            s1.append(ceil(c * p))

    return cs, s0, s1

In [191]:
prob = 0.7
msg = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 ,1, 0, 0]
code = encode(msg, p)

print(code, type(code))
print(decode(code, p))

18700449402989 <class 'int'>
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]

In [192]:
c, s0, s1 = generate_table(0.1, 50)
pd.DataFrame([s0, s1], columns=c)

  0  1  2  3  4  5  6  7  8  9  10  ... 40  41  42  43  44  45  46  47  48  49 50
0  _  0  1  2  3  4  5  6  7  8  _  ...  _  36  37  38  39  40  41  42  43  44  _
1  0  _  _  _  _  _  _  _  _  _  1  ...  4   _   _   _   _   _   _   _   _   _  5

[2 rows x 51 columns]

In [193]:
c, s0, s1 = generate_table(0.5, 50)
pd.DataFrame([s0, s1], columns=c)

  0  1  2  3  4  5  6  7  8  9  10  ...  40  41  42  43  44  45  46  47  48  49  50
0  _  0  _  1  _  2  _  3  _  4  _  ...   _  20   _  21   _  22   _  23   _  24   _
1  0  _  1  _  2  _  3  _  4  _  5  ...  20   _  21   _  22   _  23   _  24   _  25

[2 rows x 51 columns]

In [194]:
c, s0, s1 = generate_table(0.9, 50)
pd.DataFrame([s0, s1], columns=c)

  0  1  2  3  4  5  6  7  8  9  10  ...  40  41  42  43  44  45  46  47  48 49  50
0  _  _  _  _  _  _  _  _  _  0  _  ...   _   _   _   _   _   _   _   _   _  4   _
1  0  1  2  3  4  5  6  7  8  _  9  ...  36  37  38  39  40  41  42  43  44  _  45

[2 rows x 51 columns]